---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ypN8vgRtOizMjEBFQo5JvfAoQ8MxbEHT&location=Denver,COmaxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 20:13:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,COmaxResults=1"},"locations":[{"street":"1
        Mile Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"49421","geocodeQualityCode":"B3CAA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p0/5333595","unknownInput":"","type":"s","latLng":{"lat":43.56834,"lng":-85.98975},"displayLatLng":{"lat":43.56834,"lng":-85.98975},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ypN8vgRtOizMjEBFQo5JvfAoQ8MxbEHT&type=map&size=225,160&locations=43.56834,-85.98975|marker-sm-50318A-1&scalebar=true&zoom=15&rand=239892555"},{"street":"County
        Highway 1","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CAA","ge[...]
