---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b3357d868782d7022bcc47fc8b3911bc&exclude=minutely,alerts&lat=43.84861&lon=-96.2252&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.8486,"lon":-96.2252,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1660162408,"sunrise":1660130612,"sunset":1660181825,"temp":86.32,"feels_like":92.48,"pressure":1019,"humidity":62,"dew_point":71.76,"uvi":7.16,"clouds":0,"visibility":10000,"wind_speed":5.57,"wind_deg":113,"wind_gust":4.21,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660161600,"temp":86.32,"feels_like":92.48,"pressure":1019,"humidity":62,"dew_point":71.76,"uvi":7.16,"clouds":0,"visibility":10000,"wind_speed":5.57,"wind_deg":113,"wind_gust":4.21,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660165200,"temp":87.01,"feels_like":91.51,"pressure":1019,"humidity":56,"dew_point":69.42,"uvi":5.28,"clouds":0,"visibility":10000,"wind_speed":5.68,"wind_deg":111,"wind_gust":3.96,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660168800,"temp":87.69,"feels_like":90.54,"pressure":1019,"humidity":50,"dew_point":66.76,"uvi":3.21,"clouds":1,"visibility":10000,"wind_speed":5.61,"wind_deg":114,"wind_gust":4.16,"weather":[{"id":800,"main"[...]
