---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ypN8vgRtOizMjEBFQo5JvfAoQ8MxbEHT&location=Denver,COmaxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 20:13:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,COmaxResults=1"},"locations":[{"street":"1
        Mile Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"49421","geocodeQualityCode":"B3CAA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p0/5333595","unknownInput":"","type":"s","latLng":{"lat":43.56834,"lng":-85.98975},"displayLatLng":{"lat":43.56834,"lng":-85.98975},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ypN8vgRtOizMjEBFQo5JvfAoQ8MxbEHT&type=map&size=225,160&locations=43.56834,-85.98975|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-726094237"},{"street":"County
        Highway 1","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CAA","g[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b3357d868782d7022bcc47fc8b3911bc&exclude=minutely,alerts&lat=43.56834&lon=-85.98975&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.5683,"lon":-85.9898,"timezone":"America/Detroit","timezone_offset":-14400,"current":{"dt":1660162415,"sunrise":1660128192,"sunset":1660179332,"temp":80.67,"feels_like":81.88,"pressure":1019,"humidity":54,"dew_point":62.49,"uvi":5.37,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":270,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660161600,"temp":80.67,"feels_like":81.88,"pressure":1019,"humidity":54,"dew_point":62.49,"uvi":5.37,"clouds":0,"visibility":10000,"wind_speed":11.9,"wind_deg":286,"wind_gust":12.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660165200,"temp":80.53,"feels_like":81.61,"pressure":1019,"humidity":53,"dew_point":61.83,"uvi":3.48,"clouds":0,"visibility":10000,"wind_speed":11.54,"wind_deg":291,"wind_gust":13.29,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660168800,"temp":79.99,"feels_like":79.99,"pressure":1019,"humidity":54,"dew_point":61.86,"uvi":1.82,"clouds":0,"visibility":10000,"wind_speed":10.04,"wind_deg":292,"wind_gust":12.95,"weather":[{"id":800,"m[...]
